
.list-employee a:hover {
   background-color: #2196f3;
}
.bottom-list-icon a:hover {
   background-color: #2196f3;
}

.titles .btn-option:hover,
.titles .btn-option:focus {
background-color: #2196F3;
color: #ffffff;
}