:root {
  --basic-bg-color: #2196f3;
  --primery-item-color: #757575;
  --internal-light-dark: #ffffff;
  --permanent-color: rgba(255, 255, 255, 0.6);
  --sky-blue-bg-color: #188CE8;
}


:root {
  --background-color: #2f303a;
}